header {
    background-color: #332f42;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 10;
}

body {
    position: relative;
    background-color: #f4f4f2;
}
.label {
    padding-left: 30px;
    margin-bottom: 5px;
    width: 200px;
}

.side_button {
    background-image: url("side_bar.png");
    border: None;
    margin-left: 40px;
    height: 39px;
    width: 43px;
}

.add_button {
    background-image: url("add_button.png");
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 70px;
    width: 70px;
    border: None;
    border-radius: 15px;
}

.container {
    margin: 10% auto auto 10%;
    width: 90%;
    height: 300px;

}


.container .box {

    color: #fdfdfd;
    position: relative;
    width: 200px;
    height: 250px;
    opacity: 0.9;
    float: left;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(239,200,200,1) 0%, rgba(255,226,226,1) 100%);
    box-sizing: border-box;
    border-radius: 15px;
    margin:60px;
    border: None;
    overflow: hidden;
    transform: scale(1) ;
    transition: all 0.1s  ease;
}

.container .box:hover{
    opacity: 1;
    transform: scale(1.05);
}
.container .box .task_list {
    height: 155px;
    overflow: hidden;
}

.container .box ul li {
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px #f8acac;
}

.group_name {
    color: white;
    text-shadow: 1px 1px 1px #f8acac;
    text-align: center;
    font-size: 20px;
    margin: 20px 20px 0;

}

.line {
    background-color: white;
    height: 2px;
    width: 80%;
    border: None;
}

.sidebar {
    z-index: 11;
    opacity: 0;
    width: 0;
    background: #332f42;

    top: 0;
    left: 0;
    height: 100%;
    padding: 0 10px;
    position: fixed;
    transition: all 0.3s ease;
    overflow: hidden;
}

.sidebar.active{
    box-shadow:0 0 0 10000px rgba(0,0,0,.50);
    opacity: 1;
    width: 275px;

}
.sidebar .logo_content .logo {
    color: white;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    margin-left: 15px;
}



#menu {
    margin-top: 15px;
    position: absolute;
    left: 90%;
    font-size: 27px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);

}

#btn {
    color: white;
    font-size: 250%;
    padding: 30px 0 30px 30px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: None;
    font-size: 25px;
    line-height: 50px;
    border-radius: 12px;
}

.sidebar ul li a {
    transition: all 0.4s ease;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;

}

.sidebar ul li a:hover {
    color: #11101d;
    background: #fff;
}
.sidebar ul li a i {
    height: 50px;
    min-width:50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar_logo {
    margin-top: 10px;
    padding-right: 10px;
    height: 24px;
    width: 100%;
}

.sidebar .change_theme {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.sidebar .change_theme label{
  position: absolute;
  width: 60px;
  height: 30px;
  background: #d9d9d9;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0 5px 15px rgba(0,0,0,0.3), inset 0 -5px 15px rgba(255,255,255,0.3);
}
.sidebar .change_theme label:after{
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  border-radius: 100px;
  top: 2px;
  left: 2px;
  transition: 0.5s;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.sidebar .change_theme input:checked ~ label:after{
  left: 60px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}
.sidebar .change_theme input:checked ~ label{
  background: #242424;
}
.sidebar .change_theme .background{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}
.sidebar .change_theme input:checked + label + .background{
  background: #242424;
}
.sidebar .change_theme input{
  display: none;
}
.sidebar .change_theme #moon {
    padding-left: 70px;
}

#popup_group {
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: none;
    position:fixed;
    background-color:rgb(49, 49, 49, 0.7);
    overflow:auto;
    z-index: 100;
}

img#close {
    z-index: 100;
    position:absolute;
    right: 14px;
    top: 14px;
    cursor:pointer;
    height: 24px;
    width: 24px;


}
#popup_group #popupContact {
    margin-left: 40%;
    margin-top: 15%;
    font-family: 'Raleway', sans-serif;
}


form {
    max-width:300px;
    min-width:250px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:'Raleway',sans-serif;
    position: relative;
    background-color:#f4f4f2;
}

#popup_group #popupContact form h2 {
    padding:20px 35px;
    margin:-10px -50px;
    text-align:center;
    border-radius:10px 10px 0 0
}

#popup_group #popupContact form hr {
    width: 90%;
    border:0;
    border-top:1px solid #ccc
}

#popup_group_2, #popup_group_4 {
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: none;
    position:fixed;
    background-color:rgb(49, 49, 49, 0.7);
    overflow:auto;
    z-index: 100;
}

#popup_group_2 #popupContact, #popup_group_4 #popupContact {
    margin-left: 40%;
    margin-top: 15%;
    font-family:'Raleway',sans-serif;
}
#popup_group_2 #popupContact form h3, #popup_group_4 #popupContact form h3 {
    opacity: 0.8;
    padding:20px 35px;
    margin:-10px -50px -20px;
    text-align:center;
    border-radius:10px 10px 0 0
}

#submit_2, #submit_4 {
    text-decoration:none;
    width:50%;
    opacity: 0.7;
    display:block;
    background-color: rgba(255, 89, 89);
    color:#ffffff;
    margin: 15px auto;
    border:none;
    padding:10px 0;
    font-size:20px;
    cursor:pointer;
    font-family: 'Arial', sans-serif;
    border-radius:5px;
    transition: 0.3s ease;
}

#submit_2:hover, #submit_4:hover {

    opacity: 0.85;
    background-color: rgba(255, 89, 89);
    transform: scale(1.05);
}

#popup_group_3, #popup_group_5 {
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: none;
    position:fixed;
    background-color:rgb(49, 49, 49, 0.7);
    overflow:auto;
    z-index: 100;
}

#popup_group_3 #popupContact, #popup_group_5 #popupContact {
    margin-left: 40%;
    margin-top: 15%;
    font-family:'Raleway',sans-serif;

}
#popup_group_3 #popupContact form h3, #popup_group_5 #popupContact form h3  {
    opacity: 0.8;
    padding:20px 35px;
    margin:-10px -50px -20px;
    text-align:center;
    border-radius:10px 10px 0 0
}

#popup_group_3 #popupContact form {
    width: 500px;
    height: 300px;
}

#submit_3, #submit_5 {
    text-decoration:none;
    width:50%;
    opacity: 0.7;
    display:block;
    background-color: rgba(246, 207, 105);
    color:#ffffff;
    margin: 15px auto;
    border:none;
    padding:10px 0;
    font-size:20px;
    cursor:pointer;
    font-family: 'Arial', sans-serif;
    border-radius:5px;
    transition: 0.3s ease;
}

#submit_3:hover, #submit_5:hover {

    opacity: 0.85;
    background-color: rgb(246, 207, 105);
    transform: scale(1.05);
}

#group_name {

    width:82%;
    padding:10px;
    margin: 5px auto;
    border-radius: 5px;

    border: none;
    border-bottom: 1px solid #ccc;
    background: #f4f4f2;
    font-size:16px;
    font-family:'Raleway',sans-serif;
}
#group_name:focus {
    outline: none;
}
#submit , #save_fonts{
    text-decoration:none;
    width:50%;
    text-align:center;
    display:block;
    background-color:#c2d4ce;
    color:#fff;
    margin: 15px auto;
    border:none;
    padding:10px 0;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    transition: 0.3s ease;
}

#submit:hover {
    opacity: 0.85;
    width: 52%;
    background-color: #95c4b2;

}

.popup_tasks {
    background-image: url("add_button.png");
    bottom: 30px;
    right: 30px;
    height: 70px;
    width: 70px;
    border: None;
    border-radius: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: fixed;
}
#popup {

    transition: all 0.2s ease;
    transform: scale(1);

}

#popup:hover {
    opacity: 0.85;
    transform: scale(1.1);

}

.group_name_2 {
    padding: 20px 20px 0 40px;
    margin-bottom: -25px;
    text-align: left;
    font-weight: 400;
    font-size: 35px;
    opacity: 0.8;
    font-family: 'Arial',sans-serif;
}

.task_container .group_divider_2 {
    margin: 0 0 0 30px;

    width: 86%;

}
.task_container {
    height: 82vh;
    width: 95%;
    margin: 150px auto auto 5%;
    background: linear-gradient(0deg, rgba(2,0,36,0.7) 0%, rgba(239,200,200,0.7) 0%, rgba(255,226,226,0.7) 100%);
    border-radius: 20px;

}
.task_container ul {
    padding-bottom: 10px;
}
.tasks {
    list-style: none;
    margin: 30px 20px 0 0;
}
.task {
    margin-left: 5px;
    font-size: 17px;
    font-family: 'Arial', serif;
}
.task i {
    opacity: 0.5;
}
.task_divider {
    margin:5px;
}

.task_container .group_divider {
    padding-right: 10px;

}
.task_container .box_2 {
    width: 90%;
    position: relative;
}
.task_container .box_2 button, .task_container .group_name_header button{

    float: right;
    display: inline-block;
    margin: auto 10px auto 0;
    height: 25px;
    border-radius: 5px;
    border: None;
    width: 60px;

}

.task_container .box_2 button:hover, .task_container .group_name_header button:hover{
    transform: scale(1.05);
}
.delete {
    box-shadow: 3px 3px 4px rgba(255, 89, 89, 0.7);
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: #ffffff;
    opacity: 0.7;
    background-color: rgba(255, 89, 89);
}

.delete:hover {
    /*font-weight: bold;*/
    opacity: 0.8;
    background-color: rgba(255, 89, 89);
}

.edit {
    box-shadow: 3px 3px 4px rgba(246, 207, 105, 0.7);
    font-size: 15px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    background-color: rgba(246, 207, 105);

}

.edit:hover {

    opacity: 0.9;
    background-color: rgb(246, 207, 105);
}

.task_container .group_name_header {
    width: 90%;
    margin: 0 auto auto 10px;
}

#edit_task, #task {
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: #f4f4f2;
    margin: 20px auto 20px auto;
    width: 90%;
    min-width: 50%;
    max-width: 90%;
    min-height: 20px;
    height: 50px;
    max-height: 70px;
}

#id_edit_deadline, #id_deadline {
    background-color: #f4f4f2;
    opacity: 0.8;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin: auto auto 30px auto;
    width: 140px;
}

#edit_group_name {
    margin: 20px auto 10px 30px;
    background-color: #f4f4f2;
    opacity: 0.8;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;

}